In [ ]:
Pertemuan ke-2

In [3]:
genap=[]
for i in range(2,21,2):
    genap.append(i)

In [1]:
genap

<class 'NameError'>: name 'genap' is not defined

In [11]:
fib=[1,1]
for i in range(1,20):
    fib.append(fib[-1]+fib[-2])
print(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [17]:
deret=[]
 for i in range(10):
     suku = 2 + i * 2
     deret.append(10)
     print(f"suku ke-{i+1}:{10}")
return deret

<class 'IndentationError'>: unexpected indent (<ipython-input-17-3c41b9f5be6e>, line 2)

In [16]:
a=2
b=3
bar=[]
for i in range(a,25,b):
    bar.append(i)
print(bar)

[2, 5, 8, 11, 14, 17, 20, 23]

In [25]:
a=2
r=3
bar=[]
for n in range(1,25):
    bar.append(a*r**(n-1))
print(bar)

[2, 6, 18, 54, 162, 486, 1458, 4374, 13122, 39366, 118098, 354294, 1062882, 3188646, 9565938, 28697814, 86093442, 258280326, 774840978, 2324522934, 6973568802, 20920706406, 62762119218, 188286357654]

In [30]:
a=2
r=3
bar=[]
jum=0
for i in range(a,12,b):
    bar.append(i)
    jum=jum+i
print(bar)
print(jum)

[2, 5, 8, 11]
26

In [29]:
a=2
r=3
bar=[]
m=4
for n in range(1,m+1):
    bar.append(a+(n-1)*b)
print(bar)
print((m/2)*(a+bar[-1]))

[2, 5, 8, 11]
26.0

In [31]:
a=2
r=3
bar=[]
m=5
for n in range(1,m+1):
    bar.append(a*r**(n-1))
print(bar)
print(a*((r**m)-1)/(r-1))

[2, 6, 18, 54, 162]
242.0